
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    @font-face {
        font-family: gameofthrones;
        src: url("GameofThrones.ttf");
    }
    
    header {
        margin: 0;
    }
    
    
    body { 
        margin: 0;
        font-family: gameofthrones;
        background-color: #121818;
        
    }
    
    nav {
        position: fixed;
        width: 100%;
        background-color: black;
        text-align: center;
        font-size: 30px;
    }
    
    nav a {
        text-decoration: none;
    }
    
    .nav1 {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: block;
    }
    
    #hiddenMenu{
        padding-bottom: 30px;
    }
    
    .sideswipe{
        display: none;
        background-color: #121818;
        border: 4px solid black;
        box-sizing: inline-block;
        width: 100%;
        margin:0;
        padding:0;
    }
    
    .sideswipe li a {
        display: block;
        padding-top: 15px;
        padding-bottom: 10px;
        color: white;
        text-align: center;
        text-decoration: none;
    }
    
    .sideswipe li:hover {
        background-color: #C20114;
        box-sizing: inline;
    }

    .dropdown{
        color: white;
        padding-top: 10px;
    }
    
    .dropdown-content {
        display:none;
        padding:10px;
        list-style-type: none;
        background-color: #E00C20;
        width: 100%;
    }
    
    .dropdown-content a {
        color: white;
        text-decoration: none;
        padding: 10px;
    }
        
    input[type=checkbox]{
        display:none;
    }
    
    input[type=checkbox] + label[for=hiddenMenu]{
        color: white;
        padding:20px;
        display: block;
    }
    
    input[type=checkbox]:checked + label[for=hiddenMenu] + .sideswipe {
        display: block;
     }
    
    .dropdown:hover .dropdown-content {
        display: block;
        padding:10px;
     }
    
    
    .LandscapePic {
        width: 100%;
    }
    
    .row{
        text-align: center;
        color: white;
       
    
    }
    
    .col1 {
        width: 100%;
        text-align: center;
        
    }
    
    .col2 {
        width: 100%;
        text-align: center;
        padding: 5px;
    }
    
    .col3 {
        width: 100%;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .contact {
        background-color: #121818;;
        color: white;
    }
    
    .default_button {
        color: white;
        background-color: #121818;
    }
    
    .contactlist {
        list-style-type: none;
        background-color: #121818;
    }
    .contactlist {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    
    .contactlist li a, .dropbtn, p {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    .contactlist li a:hover, .dropdown:hover .dropbtn {
        background-color: #C20114;
    }
    
    .copyright {
        background-color: #121818;;
        color: white;
        text-align: center;
        width: 100%;
        clear: both;
    }

}