
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    @font-face {
        font-family: gameofthrones;
        src: url("GameofThrones.ttf");
    }
    
    header {
        margin: 0;
    }
    
    body { 
        margin: 0;
        font-family: gameofthrones;
        background-color: #121818;
        
    }
    
    /*////////////// nav ////////////////*/
    nav {
        position: fixed;
        width: 100%;
        background-color: black;
        text-align: center;
        font-size: 30px;
    }
    
    nav a {
        text-decoration: none;
    }
    
    .nav1 {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: block;
    }
    
    #hiddenMenu{
        padding-bottom: 30px;
    }
    
<<<<<<< HEAD
    .nav1 li {
        float: left;
        width: 100%;
=======
    .sideswipe{
        display: none;
        background-color: #121818;
        border: 4px solid black;
        box-sizing: inline-block;
        width: 100%;
        margin:0;
        padding:0;
>>>>>>> 10951fa7ce55379cd13c42676b28d18455306c8e
    }
    
    .sideswipe li a {
        display: block;
        padding-top: 15px;
        padding-bottom: 10px;
        color: white;
        text-align: center;
        text-decoration: none;
    }
    
    .sideswipe li:hover {
        background-color: #C20114;
        box-sizing: inline;
    }

    .dropdown{
        color: white;
        padding-top: 10px;
    }
    
    .dropdown-content {
        display:none;
        padding:10px;
        list-style-type: none;
        background-color: #E00C20;
        width: 100%;
    }
    
    .dropdown-content a {
        color: white;
        text-decoration: none;
        padding: 10px;
    }
        
    input[type=checkbox]{
        display:none;
    }
    
    input[type=checkbox] + label[for=hiddenMenu]{
        color: white;
        padding:20px;
        display: block;
    }
    
    input[type=checkbox]:checked + label[for=hiddenMenu] + .sideswipe {
        display: block;
     }
    
    .dropdown:hover .dropdown-content {
        display: block;
        padding:10px;
     }
    
    
    .LandscapePic {
        width: 100%;
    }
    
    .row{
        text-align: center;
        color: white;
       
    
    }
    

    /*////////////// columns ////////////////*/
    .col1 {
        width: 100%;
        text-align: center;
        
    }
    
    .col2 {
        width: 100%;
        text-align: center;
        padding: 5px;
    }
    
    .col3 {
        width: 100%;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    /*////////////// end columns ////////////////*/

    /*////////////// Index ////////////////*/
    .video {
        text-align: center;
    }
    
    /*////////////// end Index ////////////////*/

    /*////////////// about us ////////////////*/
    .backgroundAboutus {
        display: inline-block;
        background: white;
        color: #121818;
        width: 80%;
        margin-left: 10%;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .backgroundPortfolio {
        width: 100%;
    }

    .aboutus {
        width: 20%;
        border-radius: 50%;
    }

    .Introducing {
        width: 20%;
    }
    /*////////////// end about us ////////////////*/

    /*////////////// contact ////////////////*/
    .contact {
        background-color: #121818;
        float: left;
        color: white;
    }

    .contactFormTitle {
        display: inline-block;
        background-color: #C20114;
        margin-left: 5%;
        width: 90%;
        color: #121818;
        text-align: center;
    }

    .contactFormTitle > h1 {
        margin-top: 10%;
    }

    .contactFormBody {
        display: inline-block;
        background-color: white;
        margin-left: 5%;
        width: 90%;
        color: #121818;
        text-align: center;
    }

    .Voornaam {
        display: block;
        margin: 2%;
        width: 80%;
        margin-left: 10%;
    }

    .Achternaam {
        display: block;
        margin: 2%;
        width: 80%;
        margin-left: 10%;
    }

    .Land {
        display: block;
        margin: 2%;
        width: 80%;
        margin-left: 10%;
    }

    .Vraag {
        display: block;
        margin: 2%;
        height: 200px;
        width: 80%;
        margin-left: 10%;
    }

    .Send {
        background-color: #121818;
        color: white;
        text-align: center;
        padding: 25px;
        width: 20%;
        margin: 1%;
    }
      
    .Send span {
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
      
    .Send span:after {
        position: absolute;
        transition: 0.5s;
    }
      
    .Send:active {
        background-color: #C20114;
    }

    /*////////////// end contact ////////////////*/

   /*////////////// footer ////////////////*/
   .contactlist {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        text-align: center;
        color: white;
        overflow: hidden;
    }

    .copyright {
        text-align: center;
        width: 100%;
        color: white;

    }


/*////////////// end footer ////////////////*/
}