
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    @font-face {
        font-family: gameofthrones;
        src: url("GameofThrones.ttf");
    }
    
    header {
        margin: 0;
    }
    
    
    body { 
        margin: 0;
        font-family: gameofthrones;
        background-color: #121818;
        
    }
    
    nav {
        width: 100%;
    }
    
    .nav1 {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        overflow: hidden;
        background-color: #121818;
        text-align: center;
    }
    
    
    .nav1 li {
       float: left;
        width: 100%;
      
    }
    
    .nav1 li a, .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    .nav1 li a:hover, .dropdown:hover .dropbtn {
        background-color: #C20114;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #121818;;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    
    .dropdown-content a:hover {background-color: #C20114}
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    
    
    .LandscapePic {
        width: 100%;
    }
    
    .row{
        text-align: center;
        color: white;
       
    
    }
    
    .col1 {
        width: 100%;
        text-align: center;
        
    }
    
    .col2 {
        width: 100%;
        text-align: center;
        padding: 5px;
    }
    
    .col3 {
        width: 100%;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .contact {
        background-color: #121818;;
        color: white;
    }
    
    .default_button {
        color: white;
        background-color: #121818;
    }
    
    .contactlist {
        list-style-type: none;
        background-color: #121818;
    }
    .contactlist {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    
    .contactlist li a, .dropbtn, p {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    .contactlist li a:hover, .dropdown:hover .dropbtn {
        background-color: #C20114;
    }
    
    .copyright {
        background-color: #121818;;
        color: white;
        text-align: center;
        width: 100%;
        clear: both;
    }

}