
@media only screen and (min-device-width : 480px) and (max-device-width : 1024px) {

    body {
        background-color: blue;
    }

    nav {
        position: fixed;
        width: 100%;
        background-color: black;
        text-align: center;
        font-size: 30px;
    }
    
    nav a {
        text-decoration: none;
    }
    
    .nav1 {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: block;
    }
    
    #hiddenMenu{
        padding-bottom: 30px;
    }
    
    .sideswipe{
        display: none;
        background-color: #121818;
        border: 4px solid black;
        box-sizing: inline-block;
        width: 100%;
        margin:0;
        padding:0;
    }
    
    .sideswipe li a {
        display: block;
        padding-top: 15px;
        padding-bottom: 10px;
        color: white;
        text-align: center;
        text-decoration: none;
    }
    
    .sideswipe li:hover {
        background-color: #C20114;
        box-sizing: inline;
    }

    .dropdown{
        color: white;
        padding-top: 10px;
    }
    
    .dropdown-content {
        display:none;
        padding:10px;
        list-style-type: none;
        background-color: #E00C20;
        width: 100%;
    }
    
    .dropdown-content a {
        color: white;
        text-decoration: none;
        padding: 10px;
    }
        
    input[type=checkbox]{
        display:none;
    }
    
    input[type=checkbox] + label[for=hiddenMenu]{
        color: white;
        padding:20px;
        display: block;
    }
    
    input[type=checkbox]:checked + label[for=hiddenMenu] + .sideswipe {
        display: block;
     }
    
    .dropdown:hover .dropdown-content {
        display: block;
        padding:10px;
     }

}